<html>
   <head>
      <meta charset="UTF-8">
      <title>League of Dreams</title>
      <link rel="stylesheet" href="/css?file=navbar">
      <link rel="stylesheet" href="/css?file=client">
      <link rel="stylesheet" href="/css?file=global">
      <script src="https://kit.fontawesome.com/e6ace43b26.js" crossorigin="anonymous"></script>
	  <script src="https://kit.fontawesome.com/43cefe143e.js" crossorigin="anonymous"></script>
   </head>

  <body>

		<%- include("./partials/navbar.ejs") %>
		<%- body -%>

	</body>
</html>